@font-face {
    font-family: "IBM-BIOS";
    src: url("../fonts/Web_IBM_BIOS.woff");
}

* {
    --title-color: cyan;
    --em-color: cyan;
    --bg-color: black;
    --fg-color: white;
    --link-color: magenta;
}

.front .title h1 {
    color: var(--title-color);
}

/* for the big <pre> logo */
.front .title h1 pre {
    color: var(--title-color);
}

em {
    color: var(--em-color);
}

a {
    color: var(--link-color);
}

* {
    background-color: var(--bg-color);
    color: var(--fg-color);
}

* {
    box-sizing: border-box;
}

* {
    font-family: "IBM-BIOS";
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}

* {
    padding: 0rem;
    margin: 0rem;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* custom list bullet ... */
li::before {
    content: "* ";
    content: "○ ";
    content: "• ";
}

/* ... with hanging indents */
li {
    padding-left: 2rem;
    text-indent: -2rem;
}

/*
li > ul > li {
    padding-left: 0rem;
    text-indent: -2rem;
}
*/

body {
    margin: 1.5rem;
}

/* to hide the big <pre> logo */
.front .title h1 {
    overflow: hidden;
}

.front {
    max-width: 50ch;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.front {
    margin-top: 2rem;
}

.front {
    border-style: double;
    border-width: 0.5rem;
}

div, p, h1, h2, pre {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*
ul > li > ul {
    margin-left: 2rem;
}
*/

.front .title em {
    text-transform: uppercase;
}
